:root {
  /* COLORS */

  --red: rgb(252, 71, 71);
  --black: rgb(16, 20, 30);
  --dark-blue: rgb(22, 29, 47);
  --light-blue: rgb(90, 105, 143);
  --white: rgb(255, 255, 255);

}

body {
  margin: 0;
  padding: 0;
}
