.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-blue);
  height: 100px;
  padding: 0 2.5rem;
}

.navbar > * {
  cursor: pointer;
}

.navlist {
  display: flex;
  list-style-type: none;
}

.navlist li {
  margin: 0 1rem;
  /* cursor: pointer; */
  color: var(--white);
}

.userAvatar {
  height: 40px;
  width: 40px;
}
